.lead__mountains-photo {
    max-height: 615px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__mountains-photo{
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead__mountains-photo{
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__mountains-photo{
      max-width: 320px;
    }
  }