.place__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-decoration: underline;
    opacity: 1;
    margin-bottom: 48px;
    color: #FFFFFF;
}
