.place__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-decoration: underline;
    opacity: 1;
    margin-bottom: 48px;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .place__link {
        display: none;
    }
}