.place__url-heading {
    font-size: 12px;
    line-height: 1.7;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        display: none;
    }
}