.lead__mountains-caption {
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .lead__mountains-caption {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
    .lead__mountains-caption {
      margin-left: 24px;
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__mountains-caption {
      margin-left: 16px;
      max-width: 320px;
    }
  }