.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    font-style: normal;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .intro__title {
      margin-top: 50px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
      margin: 40px 0 40px 0;
      max-width: 288px;
    }
  }